@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.3rem;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: #c8c8c8; 
}

.container {
  width: 99%;
  margin: auto;
  padding: 0.5rem 1rem;
}

.headWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 1.5rem;
}

.barIcon {
  width: 1.5rem;
}

.brandImg {
  width: 6rem;
  margin-left: 1.5rem;
  position: relative;
}
.brandImg span:after {
  content: "BD";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -15px;
  font-size: 10px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

.searchInputWithBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 100%;
}

.searchInputWithBtn input {
  font-size: 1rem;
  outline: none;
  border: 1px solid #3333337d;
  padding: 0.5rem;
  border-radius: 50px 0px 0px 50px;
  width: 100%;
}
.searchInputWithBtn button {
  font-size: 1.4rem;
  outline: none;
  border: 1px solid #3333337d;
  border-radius: 0px 50px 50px 0px;
  width: 80px;
  padding: 0rem 2rem;
  height: 37px;
  border-left: none;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.voiceInput {
  font-size: 1.5rem;
  cursor: pointer;
}

.createNotifyUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.create {
  width: 1.5rem;
}

.notify {
  width: 1.5rem;
}

.user {
  font-size: 1rem;
  background: purple;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 100%;
  color: white;
}

.createNotifyUser div {
  margin-left: 1rem;
}

.mainBodyWrap {
  display: flex;
  justify-content: start;
  align-items: start;
}

.asideSection {
  /* padding-right: 1rem; */
  width: 5%;
  flex: 0 0 auto;
}
.initalTagSlider {
  margin-bottom: 1.5rem;
}
.singleTag {
  width: fit-content;
  height: auto;
  padding: 0.4rem 0.8rem;
  background: #f0f0f0;
  border-radius: 0.5rem;
  font-size: 14px;
}
.singleTag p {
  white-space: nowrap;
}
.tagWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  padding: 0.4rem 0rem;
  transition: 0.3s;
  cursor: pointer;
}
.tagWraper div {
  margin-right: 1.5rem;
}
.ytVideoTagWrap {
  width: 95%;
  flex: 0 0 auto;
}
.tagWraper:hover {
  overflow-x: scroll;
}

.tagActive {
  background-color: black;
  color: white;
}

.menuIcon ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0rem 0.5rem;
  margin-top: 1rem;
}

.menuIcon ul li {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: transparent;
  transition: 0.3s;
  border-radius: 0.5rem;
}
.menuIcon ul li:hover {
  background-color: #c6c6c63b;
}
.menuIcon ul li span {
  font-size: 9.5px;
  padding-top: 5px;
}
.menuIcon ul li p {
  width: 1.5rem;
}
.ytVideoWraper {
  /* width: 95%; */
  padding-left: 2rem;
}
.singleVideoCard {
  width: 320px;
  height: auto;
  margin: 12px;
}

.ytVideoThumb {
  width: 100%;
}

.ytVideoThumb img {
  width: 100%;
  border-radius: 10px;
}
.ytVideoInfo {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 1rem;
}

.channelProfile {
  width: 65px;
  margin-right: 1rem;
}

.channelProfile img {
  width: 100%;
  border-radius: 100%;
}
.ytChannelName span {
  width: 13px;
  margin-left: 5px;
  margin-top: 1px;
}

.ytChannelName {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  color: #474747;
}

.ytChannelName p {
  font-size: 12px;
}
.ytVideoViewsandDate {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 11px;
  margin-top: 5px;
  color: #474747;
}

.ytVideoViewsandDate p {
  margin-right: 5px;
}
.row {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px;
  grid-gap: 10px 12px;
}